body{
  margin: 0 auto;
}

#app {
  height: 100vh;
}

.navBar {
  height: 100px;
  background-color: #eeeeee;
  padding: 10px;


  &__link {
    padding: 10px;
    text-decoration: none;
    color: black;

    &:hover{
      color: forestgreen;
    }
  }

}